.TracksContainer {
  height: 100%;
  width: 100%;
  display: grid;
}

.iframe-columns {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.spoopi-tracks-columns {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
