.CategoryBox {
  float: right;
  position: relative;
  text-align: center;
  height: 15%;
  width: 15%;
  margin: 10px;
  opacity: 0.5;
}

.category-image {
  height: 100%;
  width: 100%;
}

.category-name {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CategoryBox:hover {
  outline: 3px solid var(--spoopi-orange);
  opacity: 1;
  cursor: pointer;
}

.category-selected {
  outline: 3px solid var(--spoopi-orange);
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .CategoryBox {
    display: inline-block;
    float: none;
    height: 100px;
    width: 100px;
    margin: 5px;
  }
  .category-name {
    font-size: 0.75rem;
  }
  .CategoryBox:hover {
    outline: 2px solid var(--spoopi-orange);
  }
}
