.NextButton {
  background-color: var(--spoopi-orange);
  box-shadow: 0 0 30px black;
  position: fixed;
  bottom: 10vh;
  right: 0;
  padding: 1rem 2rem 1rem 1rem;
  opacity: 0.8;
}

.nextable {
  background-color: var(--spoopi-orange) !important;
  transition: padding-right 0.5s;
}

.nextable:hover {
  cursor: pointer;
  padding-right: 4rem;
  opacity: 1;
}

.next-button-content {
  font-size: 1.75vw;
}

.next-arrow {
  font-weight: bold;
  margin: 0 0 0 1vw;
}

@media screen and (max-width: 800px) {
  .NextButton {
    padding: 0.75rem 1.5rem 0.75rem 0.75rem;
  }
  .next-button-content {
    font-size: 1rem;
  }
}
