.NextButton {
  background-color: var(--spoopi-gray);
  box-shadow: 0 0 30px black;
  position: fixed;
  bottom: 8vh;
  right: 0;
  padding: 1rem 2.5rem 1rem 1rem;
  opacity: 0.8;
}

.next-button-content {
  font-size: 1.75vw;
}

.NextButton:hover {
  cursor: pointer;
  opacity: 1;
}

.next-arrow {
  font-weight: bold;
  margin: 0 0 0 1vw;
}

.nextable {
  background-color: var(--spoopi-orange) !important;
}

@media screen and (max-width: 800px) {
  .NextButton {
    bottom: 40px;
  }
  .next-button-content {
    font-size: 1rem;
  }
}
