.SpoopiNav {
  margin-left: 20px;
  margin-bottom: 20px;
  padding-right: 50px;
  position: fixed;
}

.spoopi-logo {
  font-size: 6vw;
  color: var(--spoopi-text)
}

.spoopi-description {
  transform: translate(0, -1.75vw);
  font-size: 2vw;
  color: var(--spoopi-orange)
}

@media screen and (max-width: 800px) {
  .SpoopiNav {
    position: static;
  }
  .spoopi-logo {
    font-size: 3rem;
  }
  .spoopi-description {
    font-size: 1.5rem;
  }
}

