* {
  box-sizing: border-box;
}

.column {
  float: left;
  height: 100vh;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
  .left {
    height: 20%;
  }
}

