* {
  box-sizing: border-box;
}

.column {
  float: left;
  height: 100%;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

@media screen and (max-width: 800px) {
  .App {
    display: table;
  }
  .column {
    float: none;
    width: 100%;
  }
  .left {
    display: table-footer-group;
  }
  .right {
    height: 20%;
    display: table-header-group;
  }
}

